<a href="https://colab.research.google.com/github/tevfikaytekin/data_science/blob/master/collin_dummy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Multicollinearity, one hot encoding, dummy encoding

(Tevfik Aytekin)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import linear_model


X1 = np.array([2, 4, 6, 8, 12, 14, 18, 21, 23])
X2 = np.array([4, 8, 12, 16, 24, 28, 36, 42, 46])
X = np.c_[X1,X2]
y = np.array([30, 15, 17, 39, 11, 122, 17, 52, 74])

In [2]:
lm = linear_model.LinearRegression()
model = lm.fit(X, y)
print (model.intercept_)
print (model.coef_)

16.998059194565744
[0.41484716 0.82969432]

In [3]:
# Problem: A small change in the data yields drastic results on the coefficients 
# Changed 6 to 7 in X1
X1 = np.array([2, 4, 7, 8, 12, 14, 18, 21, 23])
X = np.c_[X1, X2]

In [4]:
model = lm.fit(X, y)
print (model.intercept_)
print (model.coef_)

21.11856287425158
[-15.35688623   8.61497006]

### Explanation
The explanation of this behavior is the fact that when the predictors are highly correlated the base where the response plane sits is not robust, a small change in this base will have a high impact on the orientation of the response plane and hence you will get very different coefficient values. This situation is explained very nicely [here](https://newonlinecourses.science.psu.edu/stat501/node/346/).

### Does it matter for machine learning?
From a statistical viewpoint, multicollinearity is a series problem because it makes it difficult to interpret the effects of the predictors on the response variable. However, from a machine learning perspective where the aim is mostly reducing prediction error one might think that multicollinearity is not a problem since it does not effect the prediction power. There is some truth in this. However, if you do not remove highly correlated features your model will not reliable. That is, assuming that you have two highly correlated features, you are learning a plane where actually the data mostly falls in a line.  So, your predictions for points far away from the line will most likely be erroneous.

### Dummy Encoding

Linear regression expects numerical input features. In real life applications most of the time the dataset contains both numerical and categorical features. Dummy encoding is the technique for turning categorical features to numerical features so that linear regression can be applied.

### An example

Suppose that we want to predict monthly expenditure of a person based on marital status. Below is a simple dataset.

In [5]:
df = pd.DataFrame([[1521,"RL", 8000],
                  [1423,"RL", 7000],
                  [1123,"C", 3000],
                  [2187,"RM", 5000],
                  [2146,"FV", 4000],
                  [1749,"RH", 3500],
                  [2165,"RL", 9000],
                  [2871,"RH", 8000],
                  [1982,"C", 4000]],
                 columns = ["GrLivArea","MSzoning","SalePrice"])
df

   GrLivArea MSzoning  SalePrice
0       1521       RL       8000
1       1423       RL       7000
2       1123        C       3000
3       2187       RM       5000
4       2146       FV       4000
5       1749       RH       3500
6       2165       RL       9000
7       2871       RH       8000
8       1982        C       4000

In [6]:
# If you run the code below you will get
# ValueError: could not convert string to float: 'C'

X = df[['GrLivArea','MSzoning']]
y = df['SalePrice']
lm = linear_model.LinearRegression()
model = lm.fit(X, y)

ValueError: could not convert string to float: 'RL'

### One Hot Encoding

In [7]:
# To fix this error you need to encode the categorical feature. To do that you can use the get_dummies function in pandas 
# which with default parameters produces a one hot encoding as follows.
df_dummy = pd.get_dummies(df)
df_dummy

,GrLivArea,SalePrice,MSzoning_C,MSzoning_FV,MSzoning_RH,MSzoning_RL,MSzoning_RM
0,1521,8000,0,0,0,1,0
1,1423,7000,0,0,0,1,0
2,1123,3000,1,0,0,0,0
3,2187,5000,0,0,0,0,1
4,2146,4000,0,1,0,0,0
5,1749,3500,0,0,1,0,0
6,2165,9000,0,0,0,1,0
7,2871,8000,0,0,1,0,0
8,1982,4000,1,0,0,0,0

In [9]:
# With one hot encoding you will have the problem of multicollinearity since one of the values can be predicted 
# from the others. In the above example if you know the values of MSzoning_C,	MSzoning_FV,	MSzoning_RH, and 	MSzoning_RL
# you can predict the value of MSzoning_RM. To fix you can set drop_first=True
df_dummy = pd.get_dummies(df, drop_first=True)
df_dummy

   GrLivArea  SalePrice  MSzoning_FV  MSzoning_RH  MSzoning_RL  MSzoning_RM
0       1521       8000            0            0            1            0
1       1423       7000            0            0            1            0
2       1123       3000            0            0            0            0
3       2187       5000            0            0            0            1
4       2146       4000            1            0            0            0
5       1749       3500            0            1            0            0
6       2165       9000            0            0            1            0
7       2871       8000            0            1            0            0
8       1982       4000            0            0            0            0